@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li.slick-active button:before {
	color: #fff;
	opacity: 1;
	font-size: 20px;
	z-index: 50;
}

.slick-dots li.slick-active button:before {
	color: transparent;
}
